form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.Input {
    display: block;
    height: 30px;
    margin-bottom: 20px;
    width: 500px;
}

.preview {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 285px;
    height: 200px;
}

.preview p {
    padding: 0;
    margin: 0;
}

.preview img {
    width: 150px;
    height: 150px;
}

.form-div {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.form-buttons {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.form-button {
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.75);
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
}