.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px solid #000;
    background: #fff;
}

.Toolbar-text {
    height: 80%;
    margin: auto 0;
    font-size: 40px;
    color: #000;
}

.new-contact-btn {
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px rgba(50, 50, 50, 0.75);
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 5px 10px;
    font-size: 15px;
}